body{
  text-align: center;
}
.box{
  display: block;
  height: 200px;
  width: 600px;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}
